@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #fff8f4;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  .bg-brand {
    background-color: #b8894d;
  }

  .bg-brand-dark {
    background-color: #9f743f;
  }

  .text-brand {
    color: #b8894d;
  }

  .text-chocolate {
    color: #2b1810;
  }

  .bg-cream {
    background-color: #fff8f4;
  }

  .bg-soft-gold {
    background-color: #f6e8d8;
  }

  .border-brand {
    border-color: #b8894d;
  }
}
